/* phần liên kết menu category */
.category-page .img-info-time {
    border-bottom: 1px dashed #e5e6e9;
    display: flex;
    line-height: 23px;
    height: 80px;
    margin-bottom: 6px;
}

.category-page .row-img {
    text-align: center;
}

.category-page img {
    margin-bottom: -5px;
}

.category-page .row-info {
    padding-top: 12px;
}

.category-page .row-number {
    margin-top: 10px;
}

.category-page .col-sm-7 a {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -1px;
    display: inline;
    color: #444;
}

.category-page .col-sm-7 a:hover {
    color: #018fe5;
    text-decoration: none;
}

.category-page .vip-icon:before {
    content: "VIP";
    color: #e74c3c;
    border: 1px solid #e74c3c;
}

.category-page .vip-icon {
    width: 25px;
    font-size: 12px;
    font-weight: 500;
    padding: 0px 3px;
    letter-spacing: 0px;
    margin-left: 0px;
}

.category-page .row-author {
    font-size: 12px;
    color: #999;
    display: block;
    margin-right: 4px;
}

.category-page .row-chapter {
    letter-spacing: 0.5px;
    color: #999;
}

.category-page .row-time {
    font-size: 12px;
    color: #ccc;
    display: block;
}
